/* Datetimepicker style start */
.bootstrap-datetimepicker-widget.dropdown-menu {
    border: 0px solid #ccc;
    border: 0px solid rgba(0,0,0,.15);
    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.175);
	box-shadow: 0 3px 12px rgba(0,0,0,.175);
}
.bootstrap-datetimepicker-widget.dropdown-menu .btn {
	height: auto;
    color: #2699FB;
}
.bootstrap-datetimepicker-widget.dropdown-menu .btn-primary{
	color: #fff;
	background-color: #2699FB;
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
    background-color: #2699FB;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}
.input-group-addon {
    color: #2699fb;
    background-color: #fff;
    border: 1px solid #bce0fd;
}
.bootstrap-datetimepicker-widget .picker-switch a{
    color: #2699fb;
}
.datepicker-days{
    color: #2699fb;
}
.bootstrap-datetimepicker-widget table td.old, .bootstrap-datetimepicker-widget table td.new {
    color: #91cdff;
}
.table-condensed{
    color: #2699fb;
}

/* overwrite scrollbar style start */
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #fff;
    background-color: rgba(38,153,251,0.75);
    filter: "alpha(opacity=75)";
    -ms-filter: "alpha(opacity=75)";
}
.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar{
    background-color: #fff;
    background-color: rgba(38,153,251,0.90);
    filter: "alpha(opacity=90)"; 
    -ms-filter: "alpha(opacity=90)"; 
}
.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
    .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar{
        background-color: #fff; background-color: rgba(38,153,251,1);
        filter: "alpha(opacity=1)"; -ms-filter: "alpha(opacity=1)"; 
}
.mCSB_scrollTools .mCSB_draggerRail{
    background-color: #000; background-color: rgba(38,153,251,0.2);
    filter: "alpha(opacity=40)"; -ms-filter: "alpha(opacity=40)"; 
}
/* overwrite scrollbar style end */
    