@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800');

body{
	width: 100%;
	margin: auto;
	font-family: 'Montserrat', sans-serif;
	background: #F1F9FF;
}
/* Common Style Start */
.border-bottom{
	border-bottom: solid 1px #e0edf6;
}
.success{
	color: #2CE798 !important;
}
.warning{
	color: #f0ad4e !important;
}
.danger{
	color: #F4526B !important;
}
.padding-top-20{
	padding-top: 20px;
}
.margin-top-20{
	margin-top: 20px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-6{
	margin-top: 6px;
}
/* Common Style End */

/* Header style start */
.header-container{
	width: 100%;
	padding: 10px 0;
	background: #fff;
}
.header-logo{
	max-width: 100%;
	float: left;
	padding: 10px 0;
	position: relative;
	z-index: 5;
}
/* Search style start */
#custom-search-input {
    padding: 0;
    position: relative;
}
#custom-search-input .search-query {
    padding-right: 13px;
    padding-right: 4px \9;
    padding-left: 13px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 50px;
	height: 49px;
	border: 1px solid #BCE0FD;
	font-size: 14px;
	color:#2699FB;
}
#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 0px;
    position: relative;
    left: -10px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
	color: #2699FB;
	font-size: 18px;
}
.search-query:focus + button {
    z-index: 3;   
}	
#custom-search-input .input-group-btn {
	position: absolute;
	font-size: 0;
	white-space: nowrap;
	right: 20px;
	top: 8px;
	z-index: 1000;
}

.form-control::-moz-placeholder {
    color: #2699FB;
    opacity: 1;
}
/* Search style end */
.header-user-profile-set{
	width: 100%;
	float: right;
	text-align: right;
	padding: 15px 0;
}
.header-user-profile-img{
	width: 30px;
	height: 30px;
	float: right;
	background-image: url('images/user-profile-img.jpg');
	display: flex;
	display: inline-block;
	background-position: center center;
	background-size: cover;
	border-radius: 50%;
}
.header-user-name{
	width: 140px;
	font-size: 14px;	
	font-weight: 700;
	color: #2699FB;
	display: flex;
	display: inline-block;
	float: right;
	padding: 5px 10px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
/* Header style end */

.body-container{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.body-inner-content{
	width: 100%;
	float: left;
	padding: 0px 42px;
}
/* Cluster Section Start */
.cluster-name-content{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.cluster-name-content .panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow:0px 0px 10px rgba(0, 0, 0, 0.02);
  	-moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.02);
  	border-radius: 9px;
}
.cluster-name-content .panel-default > .panel-heading {
    color: #333;
    background-color: #fff;
    border-color: transparent;
    border-radius: 9px;
}
.cluster-name-content .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #ddd;
    border-top: solid 1px #E0EDF6;
    padding: 0;
}
.panel-heading {
    padding: 0;
	border:0;
}
.panel-title>a, .panel-title>a:active{
	display:block;
	padding:15px;
	color:#2699FB;
	font-size:24px;
	font-weight:400;
	text-decoration:none;	
}
.panel-heading  a:before {
   font-family: 'Glyphicons Halflings';
   content: "\e252";
   float: right;
   transition: all 0.5s;
   font-size: 14px;
   margin-top: 6px;
}
.panel-heading.active a:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
} 
.panel-body-hdg{
	width: 100%;
	float: left;
	font-size: 14px;	
	font-weight: 700;
	color: #2699FB;
	padding: 10px 20px;
}
.panel-body-inner{
	width: 100%;
	float: left;
	padding: 10px 0px;
	border-bottom: solid 1px #E0EDF6;
}
.cluster-inner-set{
	width: 100%;
	float: left;
	padding: 0px 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.cluster-name-box{
	width: 116px;
	height: 116px;
	display: flex;	
	justify-content: center;
	flex-direction: column;
	border: solid 1px #CAE0F1;
	border-radius: 4px;
	margin: 10px;
	align-items: center;
	text-align: center;
	position: relative;
}
.cluster-name-box.checked:after{
	font-size: 16px;
	color: #2699FB;
	content: "\e90b";
	font-family: 'kubsafe';
	position: absolute;
	right: 3px;
	top: 0;
}
.cluster-name-box-icon{
	font-size: 40px;
	color: #2699FB;
	line-height: 40px;
}
.cluster-name-text{
	width: 100%;
	float: left;
	font-size: 11px;	
	font-weight: 700;
	color: #2699FB;
}
/* Cluster Section Start */
.body-content-box{
	width: 100%;
	height: 241px;
	float: left;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow:0px 0px 15px rgba(0, 0, 0, 0.02);
  	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
  	margin: 20px 0;
  	position: relative;
  	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
a .body-content-box:hover{
	box-shadow: 0px 0px 15px rgba(0, 0, 0,0.08);
	-webkit-box-shadow:0px 0px 15px rgba(0, 0, 0,0.08);
  	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0,0.08);
  	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.body-content-box-title-set{
	width: 100%;
	float: left;
	padding: 20px;
}
.body-content-box-title{
	width: auto;
	float: left;
	font-size: 18px;	
	font-weight: 700;
	color: #2699FB;
}
.body-content-box-title-icon{
	float: right;
	font-size: 28px;
	font-weight: 700;
	color: #2699FB;
}
.body-content-box-middle-set{
	width: 100%;
	float: left;
	padding: 0px 20px 0px 20px;
}
.body-content-box-main-text{
	width: 100%;
	float: left;
	font-size: 48px;	
	font-weight: 800;
	color: #2699FB;
	line-height: 58px;
}
.body-content-box-sub-text{
	width: auto;
	float: left;
	font-size: 16px;	
	font-weight: 500;
	color: #2699FB;
	line-height: 19px;
}
.body-content-box-bottom-set{
	width: 100%;
	height: 49px;
	float: left;
	border-top: solid 1px #E0EDF6;
	position: absolute;
	bottom: 0;
}
.body-content-box-bottom-set ul{
	margin: 0;
	padding:0;
	font-size: 14px;	
	font-weight: 700;
	color: #2699FB;
}
.body-content-box-bottom-set ul li{
	width: 24%;
	list-style: none;
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 14px;
	padding-left: 10px;
	border-right: solid 1px #E0EDF6;
}
.body-content-box-bottom-set ul li:last-child{
	border-right: solid 0px #E0EDF6;
}
.event-text{
	font-size: 14px;	
	font-weight: 400;
	color: #2699FB;
}
.diable{
	opacity: 0.5;
}

/* Sub page Container Style Start */
.subpage-container{
	width: 100%;
	float: left;
	padding: 20px 0px;
}
/* Breadcrumbs Style Start */
.subpage-container .breadcrumb {
    padding: 0px 15px;
    margin-bottom: 0px;
    list-style: none;
    background-color: transparent;
    border-radius: 4px;
}
.subpage-container .breadcrumb > li + li::before {
    padding: 0 5px;
    color: #9FD3FF;
    content: "|\00a0";
}
.subpage-container .breadcrumb > li a {
    color: #9FD3FF;
    text-decoration: none;
}
.subpage-container .breadcrumb > li a:hover {
    color: #2699FB;
    text-decoration: none;
}
.subpage-container .breadcrumb > .active {
    color: #2699FB;
}
/* Breadcrumbs Style End */
.content-box {
    width: 100%;
    float: left;
    background-color: #fff;
    border-radius: 9px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
    margin: 20px 0;
    position: relative;
}
.right-pannel-title-set{
	width: 100%;
    float: left;
    padding: 10px 0px;
    display: flex;
    align-items: center;
}
.right-pannel-title{
	width: auto;
	float: left;
	font-size: 18px;
	font-weight: 700;
	color: #2699FB;
}

.tab-content{
	width: 100%;
	float: left;
}
.nav-tabs {
	border-bottom: 2px solid #2699FB;
	background-color: #2699FB;
	font-weight: 500;
	font-size: 14px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a {
	border: none;
	color: #ffffff;
	background-color: transparent; 
}
.nav-tabs > li.active > a, .nav-tabs > li > a:hover {
	border: none;
	color: #fff !important;
	background-color: transparent; 
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #555;
    cursor: default;
    background-color: transparent;
    border: 0px solid #ddd;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-bottom-color: transparent;
}
.nav-tabs > li > a::after {
	content: "";
	background-color: rgba(255, 255, 255, 0.6);
	height: 3px;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: -1px;
	transition: all 250ms ease 0s;
	transform: scale(0); 
}
.nav > li > a {
    position: relative;
    display: block;
    padding: 15px 30px;
}
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #5a4080 none repeat scroll 0% 0%; color: #fff; }

.nav-tabs > li  {
	width:auto;
	text-align:center;
}
.card {background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); margin-bottom: 30px; }

/* Table Style Start */
.table-content{
	width: 100%;
	float: left;
	color: #2699fb;
}
.table-content .table{
	margin-bottom: 0px;
}
.table-content .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    padding: 15px 15px;
    border-top: 1px solid #e0edf6;
    border-bottom: solid 1px #e0edf6;
    vertical-align: middle;
}
.table-content .table > thead > tr > th {
    border-bottom: 2px solid #e0edf6;
}
/* Table Style End */

/* Pagination Style Start */
.pagination {
	width: 100%;
	float: left;
	padding: 29px 0;
	margin: 0px;
	/* border-top: 1px solid #e0edf6; */
    display: flex;
    justify-content: center;
}
.pagination>li>a, .pagination>li>span {
	width: 30px;
	height: 30px;
	border-radius: 50% !important;
	margin: 0 5px;
	padding: 0px;
	text-align: center;
	color: #2699fb;
	line-height: 30px;
	border: 1px solid #e0edf6;
}
.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #8cc8fb;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #e2eef7;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #2699fb;
    border-color: #2699fb;
}
/* Pagination Style End */
.edit-policy-name{
	
}
.box-middle-content{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.box-center-middle-content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.restore-filter-set{
	width: 100%;
	float: left;
}
.restore-filter-set .body-content-box-title {
    width: 100%;
    font-size: 14px;
}
.restore-filter-set #custom-search-input .search-query {
    height: 30px;
    border: 0px solid #BCE0FD;
}
.restore-filter-set #custom-search-input button {
    padding: 0px 5px;
    margin-top: -5px;
}
.restore-filter-set #custom-search-input .form-control {  
    box-shadow: none;
}
.restore-filter-form-set{
	width: 100%;
	float: left;
	margin-bottom: 30px;
}
/* The radio */
.radio {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    color: #2699FB;
    font-weight: 500;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 10px;
}
.restore-now-set .checkbox + .checkbox, .radio + .radio {
    margin-top: 10px;
}
/* Hide the browser's default radio button */
.radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* Create a custom radio button */
.checkround {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-color: rgba(38, 153, 251, 0.6);
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}
/* When the radio button is checked, add a blue background */
.radio input:checked ~ .checkround {
    background-color: #fff;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkround:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.radio input:checked ~ .checkround:after {
    display: block;
}
/* Style the indicator (dot/circle) */
.radio .checkround::after {
    left: 3px;
    top: 3px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #2699fb;
}
.available-snaps-set{
	width: 100%;
	float: left;
	padding: 20px 0px;
}
.available-snaps-inner-set{
	width: 100%;
	height: 200px;
	float: left;
	margin-bottom: 10px;
	padding-top: 10px;
}
.available-snaps-title{
	width: auto;
	float: left;
	font-size: 14px;
	font-weight: 400;
	color: #2699FB;
}
.two-lines-ellipsis{
	overflow: hidden;
}
.desc-width{
	width: 180px;
}
.ellip-line {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  overflow: hidden;
}
table .ellip-line{
	width: 180px;
}
.severity-label{
	width: 100px;
	height: 40px;	
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	border-radius: 4px;
	background: #2699FB;
	text-align: center;
	line-height: 40px;
}
.severity-label{
	width: 100px;
	height: 40px;	
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	border-radius: 4px;
	background: #2699FB;
	text-align: center;
	line-height: 40px;
}
.critical{
	background: #2699FB;
}
.high{
	background: #7DBDF3;
}
.low{
	background: #A9D4F9;
}
.edit-policy-content {
    width: 100%;
    float: left;
    font-size: 48px;
    font-weight: 800;
    color: #2699FB;
    line-height: 58px;
    text-align: center;
    margin-top: 25px;
}
.edit-policy-content a{
	font-size: 38px;
	color: #2699FB;
	text-decoration: none;
}
.edit-policy-content a:hover{
	color: #2699FB;
}
.box-inner{
	width: 100%;
	float: left;
	padding: 20px;
}
.tips-title{
	width: 100%;
	float: left;
	font-size: 14px;
    font-weight: 700;
    color: #2699FB;
}
.text{
	width: 100%;
	float: left;
	font-size: 14px;
    font-weight: 400;
    color: #2699FB;
    padding:10px 0px;
}
.unprotected-namespace-box{
	width: 100%;
	height: 400px;
	float: left;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	margin: 20px 0;
	position: relative;
}
.unprotected-namespace-box-inner{
	height: 270px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.unprotected-namespace-box-sub-text {
    width: auto;
    float: left;
    font-size: 24px;
    font-weight: 500;
    color: #2699FB;
    line-height: 36px;
    margin-bottom: 10px;
}
.available-policies-box{
	width: 100%;
	height: 306px;
	float: left;
	background-color: #fff;
	border-radius: 9px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	-webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.02);
	margin: 20px 0;
	position: relative;
}
.edit-icon.body-content-box-title-icon{
	font-size: 20px;
}
.available-policies-box .edit-icon.body-content-box-title-icon a{
	color: #2699FB;
	text-decoration: none;
	font-size: 20px;
}
.button-section{
	width: 100%;
	float: left;
	padding: 20px 0px;
}
.add-policy-section-title{
	width: 100%;
	float: left;
	font-size: 18px;
	font-weight: 700;
	color: #2699FB;
	padding: 20px;
}
.add-policy-inner-content{
	width: 100%;
	height: 190px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.add-policy-button{
	color: #2699FB;
	font-size: 60px;
}
.add-policy-button a{
	color: #2699FB;
	transition: 0.3s;
	opacity: 0.5;
	text-decoration: none;
}
.add-policy-button a:hover{
	transition: 0.3s;
	opacity: 1;
}
.page-title{
	width: 100%;
	float: left;
	color: #2699FB;
	font-size: 20px;
	font-weight: 600;
	padding-top: 10px;
}
/* Sub page Container Style End */

/* Form style start */
.form-container{
	width: 100%;
	float: left;
	padding: 20px;
}
.form-container .form-control {
	height: 49px;
    color: #2699FB;
    background-color: #fff;
    border: 1px solid #BCE0FD;
}
.form-container label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
	font-size: 13px;
    color: #2699FB;
}
/* Form style end */

/* Button Style Start */
.btn{
	width: auto;
	height:36px;
    padding: 0px 20px;
    border:0;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #FFFFFF;
    border-radius: 4px;
    margin: 10px 0;
}
/* Button style 1 start*/
.btn.btn-fill{
    background-color: #2699FB;
    border: solid 1px #2699FB;
    transition:0.5s;
}
.btn.btn-fill:hover, .btn.btn-fill:active{
    background-color: #f68b1f;
  	border: solid 1px #2699FB;
  	background-color: #fff;
  	color: #2699FB;
}
/* Button style 1 end*/
/* Button style 2 start*/
a.btn.btn-outline,
button.btn.btn-outline{
    background-color: #fff;
    border: solid 1px #2699FB;
    color: #2699FB;
    transition: 0.5s;
    line-height: 35px;
}
.btn.btn-outline:hover, .btn.btn-outline:active{
    background-color: #2699FB;
  	border: solid 1px #2699FB;
  	color: #fff;
  	transition: 0.5s;
    outline: none !important;
}
/* Button style 2 end*/
/* Button style 3 start*/
a.btn.btn-transparent,
button.btn.btn-transparent{
    background-color: transparent;
    border: solid 1px transparent;
    color: #2699FB;
    transition: 0.5s;
    line-height: 35px;
}
.btn.btn-transparent:hover, .btn.btn-transparent:active{
    background-color: #2699FB;
  	border: solid 1px #2699FB;
  	color: #fff;
  	transition: 0.5s;
    outline: none !important;
}
/* Button style 3 end*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Some browsers will not display the caret when using calc, so we put the fallback first */ 
  background: url("images/select-arrow.png") white no-repeat 98.5% !important; /* !important used for overriding all other customisations */
  background: url("images/select-arrow.png") white no-repeat calc(100% - 10px) !important; /* Better placement regardless of input width */
}
/* Button Style End */


@media all and (max-width:1024px){
.body-inner-content {
    padding: 0px 0px;
}
.body-content-box-bottom-set {
    height: auto;
}

}

@media all and (max-width:920px){
.body-content-box-bottom-set ul {
    font-size: 12px;
    font-weight: 600;
}	
}

@media all and (max-width:767px){
#custom-search-input button {
    left: -15px;
}	
.body-inner-content {
    padding: 0px 0px;
}
.padding-lr-0{
	padding-left: 0px;
	padding-right: 0px;
}
.header-user-profile-set{
	position: absolute;
	top: -110px;
	right: 0;
}
.body-content-box-title {
    font-size: 16px;
}
.body-content-box-title-icon {
    font-size: 24px;
}
.body-content-box-main-text {
    font-size: 42px;
    line-height: 52px;
}
.body-content-box-sub-text {
    font-size: 14px;
    line-height: 19px;
}
.panel-title > a, .panel-title > a:active {
    font-size: 20px;
}
.panel-heading a::before {
    margin-top: 3px;
}
.nav-tabs > li > a {
	padding: 15px 5px;
}
.subpage-container .breadcrumb {
    padding: 0px 0px;
}
/* Table style start */
.table-responsive {
    border: 0px solid #ddd;
}
.ellip-line {
    display: block;
}
/* Table style end */
.edit-policy-content {
    font-size: 42px;
}
.edit-policy-content a {
    font-size: 30px;
}
.right-pannel-title-set {
    display: block;
}
.right-pannel-title {
    padding-bottom: 20px;
}
}

@media all and (max-width:480px){
.body-content-box-bottom-set ul {
    font-size: 13px;
}
.body-content-box-bottom-set ul li {
    padding-left: 6px;
}
}