@font-face {
  font-family: 'kubsafe';
  src:  url('fonts/kubsafe.eot?8ddfdz');
  src:  url('fonts/kubsafe.eot?8ddfdz#iefix') format('embedded-opentype'),
    url('fonts/kubsafe.ttf?8ddfdz') format('truetype'),
    url('fonts/kubsafe.woff?8ddfdz') format('woff'),
    url('fonts/kubsafe.svg?8ddfdz#kubsafe') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="kbs-"], [class*="kbs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'kubsafe' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.kbs-user:before {
  content: "\e900";
}
.kbs-right-arrow:before {
  content: "\e901";
}
.kbs-left-arrow:before {
  content: "\e902";
}
.kbs-warning:before {
  content: "\e903";
}
.kbs-warning-1:before {
  content: "\e904";
}
.kbs-more:before {
  content: "\e905";
}
.kbs-internet:before {
  content: "\e906";
}
.kbs-security:before {
  content: "\e907";
}
.kbs-bell:before {
  content: "\e908";
}
.kbs-edit:before {
  content: "\e909";
}
.kbs-magnifying-glass:before {
  content: "\e90a";
}
.kbs-correct:before {
  content: "\e90b";
}
